modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["resend:1.0.0", "google-drive:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34475
externalPort = 8008

[[ports]]
localPort = 35133
externalPort = 5173

[[ports]]
localPort = 35841
externalPort = 6000

[[ports]]
localPort = 37107
externalPort = 8000

[[ports]]
localPort = 37757
externalPort = 3000

[[ports]]
localPort = 37813
externalPort = 6800

[[ports]]
localPort = 40037
externalPort = 3001

[[ports]]
localPort = 40249
externalPort = 9000

[[ports]]
localPort = 40697
externalPort = 5000

[[ports]]
localPort = 42229
externalPort = 4200

[[ports]]
localPort = 42357
externalPort = 8080

[[ports]]
localPort = 44409
externalPort = 3002

[[ports]]
localPort = 44813
externalPort = 8081

[[ports]]
localPort = 45325
externalPort = 3003

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
